/*
 * Tristan Hilbert
 * 9/12/2020
 * A Stylesheet
 */

/* Desktop -- General Rules*/
* {
    font-family: "Roboto";
}

body{
    background-color: beige;
    margin: 0px 8%;
}

#main-page{
    min-height: 100%;
    padding: 0px 40px;
    padding-bottom: 8px;
}

button.MuiButtonBase-root.Mui-disabled:hover{
    cursor: not-allowed;
    pointer-events: inherit;
}

/* Dark-Mode Overrule */
body.dark{
    background-color: black;
}

/* Tablet */
@media only screen and (max-width: 900px){
    body{
        margin: 0px 5%;
    }

    #main-page{
        padding: 0px 20px;
    }
}

/* Mobile */
@media only screen and (max-width: 600px){
    body{
        margin: 0px 3%;
    }

    #main-page{
        padding: 0px 8px;
    }
}